body{
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:80px;


    
 
}
.logo-img img{
    height:45px;
    width: 190px;
    margin-right: 200px;
    margin-left:30px;
}
.icon-header-container{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}

.icon-header-container :nth-child(-n+3){
    color: grey;
    
}

.membership-box{
    color:rgb(31, 29, 29);
    font-size: 0.8rem;
    background-color: white;
    border: 1px solid #949393;
    border-radius: 20px;
    width:150px;
    height:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    

}



.user-initial{
    border-radius: 20px;
    color: rgb(253, 250, 250);
    border-color: coral;
    background-color: coral;
    width: 30px;
    height: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


}

/* End of header part*/


#main{
    
    display: flex;
    height: 1600px;
    
}

/*left container begin here*/

.left-container{
    display:flex;
    flex:2;
    flex-direction: column;
    height:auto;
    margin-left:30px;
}

.reading-option{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px ;
    margin-top: 40px;
    width: 850px;
    border-bottom: 1px rgba(128, 128, 128, 0.76) solid;
}

.reading-option .inline{
   margin-left: 20px;
   font-weight: bold;
}

.reading-content {
    display:flex;
    flex-direction: column;
    width: 850px;
}

.sneakpeak{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.sneakpeak-article{
    width: 600px;
}

.sneakpeak-article p{
    color:rgb(122, 122, 122);
}

.writer, .writer-right{
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size: 0.9em;
    font-weight: 600;
}

.writer-pict img{
    margin-right:12px;
    border-radius:20%;
}

.article-info{
    font-size: 0.8em;
    display: flex;
    align-items:center;
    justify-content:space-between;
    height:10px;
    
    
}

.info-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    color: #808080d0;
    
}

.info-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:13%;
    font-size: 17px;
    
}

.fa-circle{
    font-size: 4px;
    color:grey;
}

.article-pict img{
    width: 270px;
    height:160px;
    margin-left: 30px;

}


/*right container begin here */

.right-container{
    
    display:flex;
    flex:1;
    width:300px;
    flex-direction: column;
    margin-top: 90px; 
    
}


.right-1{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.medium-twitter-icon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.medium-twitter-icon img{
    width:40px;
    height:30px;
}

.fa-twitter{
    margin-left:5px;
    color:rgb(40, 174, 192);
}

.fa-plus{
    margin-left:5px;
    color:grey;
    font-size: 0.7em;
}

.center{
    font-size: 0.9em;
    width: 250px;
    text-align: center;
    margin-bottom: 15px;

}

.connect{
    margin-bottom: 15px;
    text-align: center;
}
 .maybe{
     color:green;
     font-size: 0.8em;
     margin-top:10px;
     text-decoration: underline;
 }

.right-2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.rc-title{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 15px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    height: 120px;
    width: 80px;
    justify-content: space-between;
    
}

.flex-column div{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    width: fit-content;
    margin: 2.5px;
    padding: 7.5px;
}

.right-3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.follow-profile{
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
}

.center-tofollow{
    display: flex;
    align-items:center;
    
}

.pro-pict img{
    border-radius: 40%;
}

.name-tofollow{
    margin-left: 15px;
}

.name{
    font-weight: bold;
}

.follow-button{
    border: 1px solid #949393;
    border-radius: 15px;
    width: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:20px;
    margin: 2.5px;
    padding: 7.5px;
}

.description{
    font-size: 0.85em;
    color:grey;
    margin-top: 5px;
}

.right-4{
    margin-top:50px;

}

.right-4 writer-right{
    margin-bottom: 20px;
}

.fa-star{
    color:grey;
}


.see-all{
    color:green;
    margin-top: 20px;
}

.right-5{
    margin-top:150px;
    display: flex;
    width:300px;
    height: 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.right-5 div{
    margin-left:15px;
    color:grey;
}